/*.parent {*/
/*    position: relative;*/
/*}*/

.child {
    position: absolute;
    top: 0px;
    left: 0px;
}

.another {
    position: sticky;
    width: 100%;
    top: 0px;
    left: 0px;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

.magenta {
    background-color: magenta;
}
